
.theirMessageBubble {
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
    border-bottom-left-radius: 16px;
    margin-left: 60px;
}

.myMessageBubble {
    border-top-left-radius: 16px; 
    border-bottom-right-radius: 16px; 
    border-bottom-left-radius: 16px;
    margin-right: 50px;
}

.theirMessageLabel {
    margin-left: 12px;
}

.myMessageLabel {
    margin-right: 12px;
}

@media only screen and (max-width: 760px) {
    .theirMessageBubble {
        border-top-right-radius: 10px; 
        border-bottom-right-radius: 10px; 
        border-bottom-left-radius: 10px;
        margin-left: 50px;
    }

    .myMessageBubble {border-top-left-radius: 10px; 
        border-bottom-right-radius: 10px; 
        border-bottom-left-radius: 10px;
        margin-right: 45px;
    }

    .theirMessageLabel {
        margin-left: 12px;
    }
    
    .myMessageLabel {
        margin-right: 12px;
    }    
}